* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle,
            rgba(238, 174, 202, 1) 0%,
            rgba(148, 187, 233, 1) 100%);

    .entities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(2, 29, 67);
        border: none;
        border-radius: 5px;
        padding: 50px;
    }

    h1 {
        margin-bottom: 20px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    #givenData {
        height: 45px;
        padding: 20px;
        border-radius: 5px;
        border: none;
        margin-right: 5px;
    }

    input:focus {
        outline: 3px solid rgb(4, 247, 182);
    }

    #btn {
        height: 45px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(4, 161, 124);
        color: white;
    }

    #btn:hover {
        background-color: rgb(2, 104, 80);
        box-shadow: rgba(252, 252, 252, 0.2) 0px 7px 29px 0px;
    }

    #loading {
        margin-top: 20px;
        color: white;
        display: none;
    }

    .info {
        display: none;
        margin-top: 20px;
        color: white;

        h2 {
            margin-bottom: 2px;
        }

        p {
            padding: 3px;
        }
    }

    @media screen and (max-width: 600px) {
        .entities {
            width: 300px;
            text-align: center;
        }

        #btn {
            margin-top: 10px;
        }
    }
}